.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.widget-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3 {
      margin: 0px;
    }
  }
  .chart-wrapper {
    width: 660px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    .tech-scrollable-container {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      overflow: scroll;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
    .tech-row-wrap {
      z-index: 100;
      display: grid;
      grid-template-columns: repeat(9, minmax(0px, 1fr));
      gap: 4px;
      padding: 16px 0px;

      position: relative;

      &:hover {
        background-color: #efedff7d;
        .spectrum-region {
          // transform: translateX(2px);
          background-color: #ccc8ff;
          .text-wrap {
            // left: calc(100% + 8px);
            transform: translateX(2px) translateY(-50%);
            .tech-name {
              white-space: unset;
              width: max-content;
            }
          }
        }
      }
      .spectrum-region {
        background-color: #3c2eff24;
        border-radius: 4px;

        // position: relative;

        padding: 12px 4px 12px 12px;
        min-height: 64px;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        align-items: center;
        .text-wrap {
          display: flex;
          flex-direction: column;
          gap: 4px;
          text-align: left;
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          width: calc(100% - 24px);
          position: absolute;
          top: 50%;
          left: 12px;
          transform: translateY(-50%);
        }

        .sys-type {
          font-size: 12px;
          color: #3c2effce;
        }
        .tech-name {
          color: #3c2eff;
          font-weight: 500;
          // width: max-content;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
        }
      }
    }
    .chart-background {
      display: grid;
      grid-template-columns: repeat(9, minmax(0px, 1fr));
      gap: 4px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .bg-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding: 12px;
        color: #00000044;
        font-size: 12px;
      }

    }
  }
}

.assessment-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  .assessment-sidebar {
    width: 348px;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    background-color: #09005C;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 24px;
    gap: 12px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    overflow: hidden;
    box-sizing: border-box;
    &.hide {
      width: 0px;
      padding: 24px 0px;
    }
    .header {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-bottom: 16px;
      .label {
        font-size: 14px;
        font-weight: 600;
        color: #8d83ff;
      }
      .title {
        font-weight: 500;
        font-size: 20px;
        color: white;
      }
      .sublabel {
        color: white;
        opacity: .7;
        font-size: 16px;
      }
    }
  }
  .assessment-main-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .assessment-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 24px;
    @media screen and (min-width: 1200px) {
      max-width: calc(100vw - 348px);
      // padding: 0px calc(348px/2);
    }
  }
}

.sections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 12px;
  margin-top: 16px;
  position: relative;
  // &.question-grid {
  //   grid-template-columns: 1fr;
  // }
}

.section-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.04);
  }
  .label {
    color: #3c2eff;
    font-weight: 600;
    font-size: 14px;
  }
  .title {
    color: #1F1C1A;
    font-size: 18px;
    font-weight: 500;
  }
  .status {
    color: #1F1C1A;
    font-size: 16px;
    font-weight: 400;
    opacity: .7;
    &.completed {
      color: #00A76B;
    }
  }
}

.question-card-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-bottom: 32px;
  border-radius: 12px;
  height: 540px;
  align-items: center;
  background-color: white;
  overflow: hidden;
  // transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform .4s ease-in-out;
  position: absolute;
  left: 0;
  width: 100%;
  transform-origin: left top;
  
  // transform: translateX(0%);
  box-sizing: border-box;
  &.hide-card {
    // transform: scale(0) translateX(0%);
    transform: scale(0);
  }
  &.display-card {
    // transform: scale(1) translateX(0%);
    transform: scale(1);
  }
  .question-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 12px;
    flex-grow: 1;
    .label {
      font-weight: 500;
      color: #1F1C1A;
      opacity: .7;
    }
    .enunciate {
      font-weight: 400;
      font-size: 18px;
      color: #1F1C1A;
      opacity: .9;
    }
    .answer-box {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 8px;
      background-color: #fcfcfc;
      margin: 12px 0;
      input {
        min-width: 280px;
        padding: 12px 16px;
        font-size: 16px;
        border-radius: 8px;
        background-color: #f2f2f2;
        border: #eaeaea;
        &:focus {
          outline: 1px solid #3c2eff;
          outline-offset: 3px;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
      .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 12px 16px;
        color: white;
        background-color: #3c2eff;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        transition: transform .3s;
        &:hover {
          transform: translateY(-2px);
        }
        &.alt {
          padding: 12px;
          background-color: #3c2eff24;
          color: #3c2eff;
        }
      }
    }
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  padding: 16px;
  width: 440px;
  gap: 12px;
  .title {
    font-size: 16px;
    font-weight: 500;
    color: #1F1C1A;
  }
  .separator {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
  }
  .domain-box {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 8px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px;
    }
    .chart-wrap {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 12px 0px;
      gap: 16px;
      .use-row {
        display: grid;
        grid-template-columns: repeat(10, minmax(0px, 1fr));
        gap: 4px;
        z-index: 2;
      }
      .score-bar {
        display: flex;
        position: relative;
        border-radius: 4px;
        height: 24px;
      }
      .score-number {
        grid-column: 10;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .chart-backdrop {
      display: grid;
      grid-template-columns: repeat(10, minmax(0px, 1fr));
      gap: 4px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .bg-col {
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        &:last-child {
          background-color: white;
        }
      }
    }
  }
}